@font-face {
    font-family: Mohave;
    src: url("../font/Mohave-SemiBold.otf");
}

body {
    background-color: rgb(65, 11, 65);
}

.main {
    width: 80%;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.1);
    font-family: Mohave;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
}

h1,
h2 {
    display: block;
    margin: auto;
    padding: 0.5em;
    color: rgb(26, 128, 26);
}

.doc-block {
    background-color: rgba(255, 255, 255, 0.05);
    width: 40%;
    margin: 0.5em auto;
    padding: 0.51em;
}

.doc-block h3 {
    color: rgb(26, 126, 26);
}

.doc-block p {
    color: rgb(26, 126, 26);
    font-size: 20px;
    font-family: tahoma;
}

.button {
    display: block;
    width: 15%;
    margin: 1em auto;
    font: bold 24px Mohave;
    background-color: rgb(26, 128, 26);
    text-decoration: none;
    color: rgb(65, 11, 65);
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
}